$green1 : #DFEAE2;
$green2 : #B4D6C1;
$green3 : #8DC3A7;
$green4 : #6BAF92;
$green5 : #4E9C81;
$green6 : #358873;
$green7 : #207567;

@mixin showBorder($background: $green1) {
    background-color: $background;
    border: 3px solid $green7;
}

*{
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    background-color: whitesmoke;
}

.country {
    transition: fill 0.2s;
    &:hover {
        fill: $green7;
    }
}

#indicator {
    visibility: visible;
    height: auto;
    width: 100%;
    margin: 2px 0px 10px 0px;
    background-color: $green1;
    text-align: center;
}